.iconoCONCYSSA
		{
		    background-image:url('../../../../../Libreria/Imagenes/iconCONCYSSA.png');
		    background-repeat:no-repeat;
		}
.caja-texto{
				background-color: #FFFFFF;
				background: url("../Imagenes/xformtext.gif") repeat-x scroll 0 0 transparent;
				font: 12px tahoma,arial,helvetica,sans-serif;
				height: 22px;
				line-height: 18px;
				vertical-align: middle;
				border: 1px solid #B5B8C8;
				padding: 1px 3px;
				margin: 0;
			}

.list-item {
            font:normal 10px tahoma, arial, helvetica, sans-serif;
            padding:3px 10px 3px 10px;
            border:1px solid #fff; 
            border-bottom:1px solid #eeeeee;
            white-space:normal;
        }